/*
:root{
  --mainColor: #ff5f00;
  --personalBest: #7af567;
  --totalBest: #ed55ed;
  --lapColor: white;
}*/

html, body{
    height:100%;
    width: 100%;
    margin: 0;
    font-family: tahoma;
    color: #ff5f00;
    background-color: black;
    border-collapse: collapse;
    font-size:  1.8vh;
}

#container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
#header {
    height: auto;
    border-bottom:4px solid;
}
#content{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}
#results{
  flex-grow: 1;
}
#advertisment{
  width:auto;
  height: 100%;
  background-color: blue;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
#weather{
  height:auto;
  flex-grow: 1;
}
.advert{
  flex-grow:1;
  background-color: green;
}
#header #current_time{
  font-size: 2em;
  right: 0;
  float:right;
}
#header #race_name,#run_name{
  height: 100%;
  font-size: 2em;
}
#header #run_name{

}
#conent{
}
#footer {
    height: auto;
    font-size: 2em;
    border-top: 4px solid ;
    display: flex;
    flex-direction:row;
    white-space: nowrap;
    align-items: center;
}
#footer #footer_text{
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
#footer #race_time,#best_lap_time{
  margin-right: 1em;
}
#footer #left_flag,#right_flag{
  width:  1.5em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#footer .greenFlag{
  background-image: url(Icons/Flag-green.png);
}
#footer .redFlag{
  background-image: url(Icons/Flag-red.png);
}
#footer .yellowFlag{
  background-image: url(Icons/Flag-yellow.png);
}
#footer .warmupFlag{
  background-image: url(Icons/Flag-blue.png);
}
#footer .finishFlag{
  background-image: url(Icons/Flag-finish.png);
}

#pLink{
  padding-top: 0.25em;
  font-size: 0.7em;
  color:#e0e0e0;
  text-align: right;
}
