/*
:root{
  --mainColor: #ff5f00;
  --personalBest: #7af567;
  --totalBest: #ed55ed;
  --lapColor: white;
}*/
.lapTime{
  color: white;
}
.personalBest{
  color: #7af567;
}
.totalBest{
  color: #ed55ed;
}
html, body{
    height:100%;
    width: 100%;
    margin: 0;
    font-family: tahoma;
    color: #ff5f00;
    background-color: black;
    border-collapse: collapse;
    font-size:  1.8vh;
}
.advertHeader{
  background-color:#ff5f00;
}
#container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
#header {
    height: auto;
}
#content{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  border-bottom: 0.2em solid ;
  border-top: 0.2em solid ;
}
#results{
  flex-grow: 1;
  border-right:0.2em solid;
}
#advertisment{
  width:30%;
  height: 100%;
  white-space: normal;
  display: flex;
  flex-direction: column;
  color: white;
}
.advert img{
  width: 100%;
}
#weather{
  height:auto;
  font-size: 1vw;
}
.advert{
  padding-bottom: 1em;
}
.advertContent{
  padding-left: 0.25em;
  padding-top: 0.25em;
}
#header #current_time{
  font-size: 2em;
  right: 0;
  float:right;
}
#header #race_name,#run_name{
  height: 100%;
  font-size: 2em;
}
#header #run_name{

}
#footer {
    height: auto;
    font-size: 2em;
    display: flex;
    flex-direction:row;
    white-space: nowrap;
    align-items: center;
}
#footer #footer_text{
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
#footer #race_time,#best_lap_time{
  margin-right: 1em;
}
#footer #left_flag,#right_flag{
  width:  1.5em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#footer .greenFlag{
  background-image: url(Icons/Flag-green.png);
}
#footer .redFlag{
  background-image: url(Icons/Flag-red.png);
}
#footer .yellowFlag{
  background-image: url(Icons/Flag-yellow.png);
}
#footer .warmupFlag{
  background-image: url(Icons/Flag-blue.png);
}
#footer .finishFlag{
  background-image: url(Icons/Flag-finish.png);
}

#pLink{
  padding-top: 0.25em;
  font-size: 0.7em;
  color:#e0e0e0;
  text-align: right;
}
