.lapTime{
  color: white;
}
.personalBest{
  color: #7af567;
}
.totalBest{
  color: #ed55ed;
}
#resultsTable{
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  display: table;
  text-shadow: 1px 1px 5px black;
}
#resultsTable #headerRow{
  height: 1.8em;
  display: table-row;
}
#resultsTable .dataRow{
  display: table-row;
  height: 1.8em;
  line-height: 1.8em;
  border-bottom:2px solid #000000;
}
#resultsTable .dataRow.oddRow{
  background-color: #3c3c3c;
}
#resultsTable .headerCell{
  font-size: 1em;
  color: white;
  font-weight: normal;
  font-size:0.9em;
  vertical-align: bottom;
  display: table-cell;
  text-align: center;
}
#resultsTable .resultsCell{
  display: table-cell;
}

#resultsTable .headerCell#pos{
  font-size: 1em;
  text-align: center;
  width: 2.2em;
}
#resultsTable .resultsCell#pos{
  background-position: left center;
  background-size: 1em;
  width: 2.2em;
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 0.2em;
}

#resultsTable .resultsCell#pos.posWin{
  background-image: url(Icons/positionWin.png);
}
#resultsTable .resultsCell#pos.posLost{
  background-image: url(Icons/positionLost.png);
}
#resultsTable .resultsCell#pos.competitorFinished{
  background-image: url(Icons/Flag-finish.png);
}
#resultsTable .resultsCell#num{
  text-align: center;
  color: white;
  width: 3em;
  background:#ff5f00;

}
#resultsTable .headerCell#num{
  width: 3em;
}
#resultsTable .headerCell#name{
  width: auto;
}
#resultsTable #compositeNameContainter{
  position:relative;
}
#resultsTable #name{
  width: 100%;
  padding-left: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:white;
}
#resultsTable .lapTime{
  width:5.5em;
}
#resultsTable .resultsCell.lapTime{
  text-align:right;
  padding-right:0.5em;
}
#resultsTable .sectorTime{
  width: 4em;
  padding-right:0.5em;
}
#resultsTable .resultsCell#laps_count{
  color: white;
  text-align: right;
  width:4em;
  padding-right:0.5em;
}
#resultsTable .headerCell#laps{
  width:4em;
}
@keyframes blink {
  from { background-color: white; }
  to { background-color: inherit; }
}
.blink {
  animation: blink 1s ; /* IE 10+ */
}
#resultsTable .marker{
  position:absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background:linear-gradient(to left,transparent,yellow 2px, #ff5f00 8px);
}
@keyframes fadeOut {
  to {opacity:0;}
}
.fadeOut {
  animation: fadeOut 5s forwards;
}
